{% extends "ogr/base.html" %}
{% block content %}
<section>
    <div>
        <h3 class="text-center">友人リストに新しく友達を追加する</h3>
        <br/>
        <form action="{% url 'addfriend' %}" class="form-horizo​​ntal text-center" method="POST">
            {% csrf_token %}
            <div class="table-condensed">
            
                <div class="form-group">
                    <label class="control-label" for="inputtitle">新しい友人の名前</label>
                    <input type="text" name="friend" class="form-control mx-auto w-75 p-3" />
                </div>
            </div>   
            <input class="btn btn-primary" id="btn" type="submit" placeholder="追加する"  />
        <a href="{% url 'top' %}">ホームに戻る</a>
    </form>
    </div>
</section>
{% endblock %}
        
        

