<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>OGR^2</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/static/css/detail.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/66d4b90c85.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                </div>
                <span style="margin:0 0 0 auto;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'top' user %}">Home<span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'my_page' user %}">マイページ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'create_log' %}">記録の追加</a>
                                </li>
                            </ul>
                        </div>
                    </button>
                </span>
                <a class="navbar-brand" href="{% url 'top' user %}">OGR^2</a>
            </div>
            <i class="far fa-user-circle"></i>
        </div>
    </nav>

    <p style="text-align:right;">こんにちは {{ user.username }}さん!
        <a class="navbar-text" href="{% url 'my_page' user %}">my_page</a>
        <a class="navbar-text" href="{% url 'logout' %}">logout</a>
    </p>


    <div class="card border-dark mb-3 control mx-auto w-75">
        <div class="card-header">詳細</div>
        <div class="card-body text-dark">
            <h5 class="card-title"><strong>{{ ogr_detail.title }}</strong></h5>
            <br/>
            {% if ogr.money > 0 %}
            <h6 class="card-subtitle">
                {{ ogr_detail.date }}に{{ ogr_detail.friends_name.name }}さんに{{ ogr_detail.money }}円貸しています
            </h6>
            {% else %}
            <h6 class="card-subtitle">
                {{ ogr_detail.date }}に{{ ogr_detail.friends_name.name }}さんに{{ ogr_detail.money }}円借りています
            </h6>
            {% endif %}
            <br/>
            <p class="card-text">{{ogr_detail.detail}}</p>
            
            {% if ogr_detail.solution == 1 %}
            <form action="{% url 'detail' ogr_detail.id %}" class="form-inline my-2 my-lg-0 mx-auto" method="post">
                {% csrf_token %}
                <button class="btn btn-primary mx-auto" name="solution" value="0" type="submit">解決済み <i class="fas fa-check-square"></i></button>
            </form>
            {% else %}
            <form action="{% url 'detail' ogr_detail.id %}" class="form-inline my-2 my-lg-0 mx-auto" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-success my-2 my-sm-0 mx-auto" name="solution" value="1" type="submit">未解決</button>
            </form>
            {% endif %}
            <br/>
            <br/>
        </div>
        <div class="card-footer">
            <a class="btn btn-info" href="{% url 'top' user %}">ホームに戻る</a>
            <a href="{% url 'edit' ogr_detail.id %}" class="btn btn-primary">編集</a>
            <a class="btn btn-danger" href="{% url 'delete' ogr_detail.id %}">削除</a>
            
        </div>
    </div>
    <br>




    <br>
    <br>

</body>

</html>
