{% extends "ogr/base.html" %}
{% block content %}
<section>
    <div>
        <h3>貸し借り記録の追加</h3>
        <br/>
    
        <form action="{% url 'edit' ogr_detail.id %}" class="form-horizo​​ntal" method="POST">
            {% csrf_token %}
            <div class="table-condensed">
            
                <div class="form-group">
                    <label class="control-label" for="inputtitle">日時</label>
                    <input type="date" name="date" value="{{ ogr_detail.date }}" class="form-control mx-auto w-75 p-3" placeholder="{{ ogr_detail.date }}" />
                </div>
                       
             
                <div class="form-group">
                    <label class="control-label" for="inputdate">タイトル</label>
                    <input type="text" name="title" value="{{ ogr_detail.title }}" class="form-control mx-auto w-75 p-3" placeholder="{{ ogr_detail.title }}" />
                    
                </div>
               
                <div class="form-group"> 
                    <label class="control-label" for="inputdetail">金額</label>                    
                    <input type="number" name="money" value="{{ ogr_detail.money }}" class="form-control mx-auto w-75 p-3" placeholder="{{ ogr_detail.money }}"/>
                </div>

                <div class="form-group"> 
                    <label for="exampleFormControlSelect1">相手の名前</label>
                    <select class="form-control mx-auto w-75" name="friends_name" value="{{ ogr_detail.money }}" id="exampleFormControlSelect1">
                    {% if friend_list %}
                        {% for person in friend_list %}
                            <option value="{{ person.id }}">{{  person.name  }}さん</option>
                        {% endfor %}
                    {% else %}
                        <p>いまだ貸し借りのしたことある人はいません</p>
                    {% endif %}
                    </select>
                    
                    <br/>
                    <a href="{% url 'addfriend' %}">相手の追加</a>
                </div>
             
                <div class="form-group">
                    <label class="control-label" for="inputdetail">詳細</label>
                    <input type="textarea" id="textarea1" name="detail" value="{{ ogr_detail.detail }}" class="form-control mx-auto w-75 p-3" />
                </div>

                
             
            </div>

            <p>※借りたときは金額を「-(マイナス)」をつけて入力してください</p>
            <br>
            <input class="btn btn-info" id="btn" type="submit" placeholder="編集を完了する"  />
        <a href="{% url 'top' %}">ホームに戻る</a>
    </form>    </div>
</section>
{% endblock %}
        
