<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>OGR^2</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/static/css/detail.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/66d4b90c85.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">OGR^2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">ログイン</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">新規登録</a>
            </li>
          </ul>
          
        </div>
      </nav>
    

    
    {% if user.is_authenticated %}
    <br/>
    <p>読み込み中です</p>
    <p>自動的に推移しない場合は<a href="{% url 'top' user %}">こちら</a>を選択してください</p>
    {% else %}
    <br />
    <br />
    <br />
    <h3>金銭の貸し借りをここで管理しよう</h3>
    <br />
    <p>普段飲み会などでおごったりおごられたりしたことって恩義を感じながらもなあなあに忘れてしまったりしていませんか？</p>
    <p>そういうこととはもうおさらばしましょう</p>
    <p>このアプリでは、そういった貸し借りを記録することができます！</p>
    <br />
    <br />
    <a class="btn btn-primary" href="{% url 'login' %}">ログイン</a>
    <p>アカウント登録は<a href="{% url 'signup' %}">こちら</a></p>
    {% endif %}
    <br />

</body>

</html>
