{% extends "ogr/base.html" %}
{% block content %}
        <div class="container">

            {% if user.is_authenticated %}

            <br />

            <p style="text-align:center;">読み込み中です</p><br />
            <p style="text-align:center;">自動的に推移しない場合は<a href="{% url 'top' %}">こちら</a></p><br />

            {% else %}
            <br />
            <h3 style="text-align:center;">金銭の貸し借りをここで管理しよう</h3>
            <br />

            <p style="text-align:center;">普段飲み会などでおごったりおごられたりしたことって恩義を感じながらもなあなあに忘れてしまったりしていませんか？</p><br />
            <p style="text-align:center;">そういうこととはもうおさらばしましょう</p><br />
            <p style="text-align:center;">このアプリでは、そういった貸し借りを記録・可視化することができます！</p><br />
            <div class="col text-center">
                <a class="btn btn-primary text-center" href="{% url 'login' %}">ログイン</a>
            </div>
            <p style="text-align:center;">新規アカウント登録は<a href="{% url 'signup' %}">こちら</a></p>
            {% endif %}
            <br />

        </div>
        {% endblock %}
