{% extends "ogr/base.html" %}
{% block content %}
<h3>マイページ</h3><br/><br/>
        <div class="container">
            <div class="row">	
                <div class="col-xl col-lg col-md col-sm col-xs"> 
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            友達リスト
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">一覧</h5>
                            {% if friend_list %}
                                {% for person in friend_list %}
                                    <a href="{% url 'friend' person.id %}" class="card-text">{{  person.name  }}さん</a><br/>
                                {% endfor %}
                            
                            {% else %}
                                <p class="card-text">いまだ貸し借りのしたことある人はいません</p>
                            {% endif %}
                        
                        <a href="{% url 'addfriend' %}" class="btn btn-primary">友達の追加</a>
                        </div>
                    </div>
                </div>
            
                <div class="col-xl col-lg col-md col-sm col-xs"> 
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            アカウント設定
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">設定一覧</h5>
                                <p class="card-text">パスワードの変更</p>
                                <p class="card-text">アカウントの削除</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br/>
        
        
        <a class="btn btn-info" href="{% url 'top' %}">ホームに戻る</a>
{% endblock %}

        
