{% extends "ogr/base.html" %}
{% block content %}
<div class="text-center">
    <h3>貸し借り記録</h3>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="card-tab" data-bs-toggle="tab" href="#card" role="tab" aria-controls="card" aria-selected="true">Card</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="table-tab" data-bs-toggle="tab" href="#table" role="tab" aria-controls="table" aria-selected="false">Table</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
       
        <br />
        <div class="tab-pane fade show active" id="card" role="tabpanel" aria-labelledby="card-tab">
            <h4 style="text-align:left;">カード表示</h4>
            <div class="container">
                <div class="row">

                    {% if ogr_list %}
                    {% for ogr in ogr_list %}
                    <div class="col-xl col-lg col-md col-sm col-xs">
                        <div class="col mx-auto" style="width: 18rem;">
                            <div class="card text-center" style="width: 18rem;">
                                <div class="card-header" id="headingOne">
                                    {{ ogr.title }}
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text">{{ ogr.date }}</p>
                                    <p class="card-text">{{ ogr.friends_name }}さんに</p>
                                    <p class="card-text">{{ ogr.money }}円</p>

                                    <a href="{% url 'detail' ogr.id %}" class="btn btn-primary">詳細</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br />

                {% else %}

                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            いまだ貸し借りのしたことある人はいません
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">記録なし</h5>
                            <p class="card-text"></p>
                            <p class="card-text"></p>
                            <p class="card-text"></p>

                            <p class="card-text"></p>
                            <p class="card-text"></p>

                            <a href="{% url 'create_log' %}" class="btn btn-primary">記録の追加</a>
                        </div>
                    </div>

                </div>
                {% endif %}
            </div>
        </div>

        <br />

        <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
            <h4 style="text-align:left;">テーブル表示</h4>
            <div class="container">
                
                <div class="table-responsive text-center">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-nowrap">解決済み</th>
                            <th class="text-nowrap">日付</th>
                            <th class="text-nowrap">タイトル</th>
                            <th class="text-nowrap">相手</th>
                            <th class="text-nowrap">金額</th>

                        </tr>
                        {% if ogr_list %}
                        {% for ogr in ogr_list %}
                        <tr>
                            {% if ogr.solution == 1 %}
                            <td> <i class="fas fa-check-square"></i></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td>{{ ogr.date }}</td>
                            <td><a href="{% url 'detail' ogr.id %}">{{ ogr.title }}</a></td>
                            <td>{{ ogr.friends_name.name }}</td>
                            <td>{{ ogr.money }}円</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    </table>
                </div>
                <br />
                <p>記録がありません</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>





<div class="text-center">
    <a class="btn btn-outline-primary" href="{% url 'create_log' %}">記録の追加</a>
</div><br /><br />
{% endblock %}
