<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>OGR^2</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/static/css/detail.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/66d4b90c85.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                </div>
                <span style="margin:0 0 0 auto;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'top' user %}">Home<span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'my_page' user %}">マイページ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'create_log' %}">記録の追加</a>
                                </li>
                            </ul>
                        </div>
                    </button>
                </span>
                <a class="navbar-brand" href="{% url 'top' user %}">OGR^2</a>
            </div>
        </div>
    </nav>

    <p style="text-align:right;">こんにちは {{ user.username }}さん!
        <a class="navbar-text" href="{% url 'my_page' user %}">my_page</a>
        <a class="navbar-text" href="{% url 'logout' %}">logout</a>
    </p>
    <h3>貸し借り記録</h3>
    <main class="p-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#card11" class="nav-link active" data-toggle="tab">Card</a>
            </li>
            <li class="nav-item">
                <a href="#table11" class="nav-link" data-toggle="tab">Table</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="card11" class="tab-pane active">
                <div class="container">
                    <div class="row">
                        {% if ogr_list %}
                        {% for ogr in ogr_list %}
                        <div class="col-xl col-lg col-md col-sm col-xs mx-auto">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            {{ ogr.title }}
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <p class="card-text">{{ ogr.date }}に</p>
                                        <p class="card-text">{{ ogr.friends_name }}さんに</p>
                                        {% if ogr.money > 0 %}
                                        <p class="card-text">{{ ogr.money }}円貸した</p>
                                        {% else %}
                                        <p class="card-text">{{ ogr.money }}円借りた</p>
                                        {% endif %}

                                        <a href="{% url 'detail' ogr.id %}" class="btn btn-primary">詳細</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-xl col-lg col-md col-sm col-xs">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                    いまだ貸し借りのしたことある人はいません
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">None</h5>
                                    <p class="card-text"></p>
                                    <p class="card-text"></p>
                                    <p class="card-text"></p>

                                    <p class="card-text"></p>
                                    <p class="card-text"></p>

                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">いまだ貸し借りのしたことある人はいません</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="table11" class="tab-pane">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-nowrap">解決済み</th>
                            <th class="text-nowrap">日付</th>
                            <th class="text-nowrap">タイトル</th>
                            <th class="text-nowrap">相手</th>
                            <th class="text-nowrap">金額</th>
                            <th class="text-nowrap">借りたor貸した</th>
                        </tr>
                        {% if ogr_list %}
                        {% for ogr in ogr_list %}
                        <tr>
                            {% if ogr.solution == 1 %}
                            <td> <i class="fas fa-check-square"></i></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td>{{ ogr.date }}</td>
                            <td><a href="{% url 'detail' ogr.id %}">{{ ogr.title }}</a></td>
                            <td>{{ ogr.friends_name.name }}</td>
                            <td>{{ ogr.money }}円</td>
                            {% if ogr.money > 0 %}
                            <td>貸した</td>
                            {% else %}
                            <td>借りた</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    </table>
                </div>
                <br />
                <p>記録がありません</p>
                {% endif %}
            </div>
        </div>
    </main>




    <a class="btn btn-outline-primary" href="{% url 'create_log' %}">記録の追加</a><br /><br />

</body>

</html>
