{% extends "ogr/base.html" %}
{% block content %}
<div class="text-center">
        <h1>ログイン</h1>
        <br/>
        {% if form.errors %}
        <p>ユーザーネームとパスワードが一致していません。</p>
        {% endif %}
        <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Login" />
    
        </form>
        <br/>
        <p><a href="{% url 'social:begin' 'google-oauth2' %}"><img src="/static/google_signin_buttons/web/2x/btn_google_signin_light_normal_web@2x.png" width="200" height="auto" alt="Sign in with Google" /></a></p>
        <br/>
        <p>新規アカウント登録は<a href="{% url 'signup' %}">こちら</a></p>
        <p>ログインできない？</p>
        <p>パスワードが分からなくなった方はこちら</p>
    </div>
        {% endblock %}
