{% extends "ogr/base.html" %}
{% block content %}
       
        <div class="text-center">
        <h1>新規登録</h1>
        <br/>
        
        {% if form.errors %}
        <p>ユーザーネームかパスワードが一致していません。もう一度お試しください</p>
        {% endif %}
        <form method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-sm mx-auto w-75">
                {{ form.as_table }}
            </table>
        </div>
        <input class="btn btn-primary" type="submit" value="Sign up" />
        
        </form>
        
        <br/>
        <br/>
    </div>
        {% endblock %}
