<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>OGR^2</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen, projection" />
        <link rel="stylesheet" type="text/css" href="/static/css/detail.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <a class="navbar-brand" href="{% url 'index' %}">OGR^2</a>
                    <a class="navbar-text" href="{% url 'signup' %}">新規登録</a>
                    
                </div>
            </div>
        </nav>
        <br/>
        <br/>
        <h1>新規登録</h1>
        <br/>
        
        {% if form.errors %}
        <p>ユーザーネームとパスワードが一致していません。もう一度お試しください</p>
        {% endif %}
        <form method="post">
        {% csrf_token %}
        <table class="table table-sm mx-auto w-75">
            {{ form.as_table }}
        </table>
        <input class="btn btn-primary" type="submit" value="Sign up" />
        
        </form>
        
        <br/>
        <br/>
        
    </body>


</html>
